@model WebAppFullFramework.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="wrapper">
    @using (Html.BeginForm("ResetPassword", "Admin", FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.HiddenFor(model => model.Code)
        @Html.AntiForgeryToken()
        <h3 class="page-header form-signin-heading">Recuperar a senha</h3>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-signin-email", placeholder = "E-mail" } })
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-signin-password-middle", placeholder = "Senha" } })
        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control form-signin-password", placeholder = "Repetir Senha" } })        
        <div class="row div-login-margin">
            <div class="col-md-6">
                <input type="submit" value="Recuperar" class="btn btn-primary btn-block" />
            </div>
            <div class="col-md-6">
                <a href="@Url.Action("Login")" class="btn btn-warning btn-block">Login</a>
            </div>
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger div-login-margin" })
        if (ViewBag.Link != null && ViewBag.Link)
        {
        <div class="row div-login-margin">
            <div class="col-md-12 text-center">                
                <div class="alert alert-success">@ViewBag.Status</div>
            </div>
        </div>
        }
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}